:root {
  --main-color: blue;
}

body {
  background-color: #fefefe;
  color: var(--main-color);
  font-family: 'Courier New', Courier, monospace;
  font-size: 90%;
}
.grid {
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: end;
  grid-gap: 40px;
}

a {
  color: var(--main-color);
}

h2 {
  margin: 0 0 .6em;
  font-size: 1em;
}

iframe {
  border: 0;
}

header {
  padding: 20px;

  position: sticky;
  top: 50%;
  left: 40px;
  display: inline-block;

  transform: translateX(-10px);

  box-shadow: 3px 3px 0px var(--main-color);
  background-color: white;
}


.content {
  margin: 0 20px;

  position: fixed;
  left: 10px;
}

.content ul {
  margin-right: 10px;
  padding: 0;

  display: flex;
}

.content ul li {
  margin-right: 10px;
  padding: 0 0 0 10px;

  flex: 0 1 90px;

  list-style: none;
  border-left: 1px solid var(--main-color);
}
